<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=content-wide" />
    <title>Bookstore Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navebar-brand ml-2">Bookstore Project</span>
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>


</html>